<style type="text/css">
       #Datmua a{
           clear:both; background-color:red;
           color:white; width:120px; height:35px;
           display:block; float:right; text-align:center;
           padding-top:10px; text-decoration:none; font-weight:bold;
       }
       #Datmua a:hover{
           background-color:yellow;
           color:black;

       }

</style>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>THÔNG TIN CHI TIẾT SÁCH</h2>
<div>
    <div style="width:40%;float:left; border-left:dotted 1px;border-color:azure">
        <img src="~/img/@Model.Hinhminhhoa" width="100"/>
    </div>
    <div style="width:60%; float:left; padding:10px">
        <h4 style="font-weight:bold;color:red">Ten sach:@Model.Tensach</h4>
        <p style="text-align:justify"><span style="font-weight:bold">Mo ta:</span>@Model.Mota</p>
        <p style="font-weight:bold">Gia ban:<span style="color:red; font-size:16pt ">@Model.Dongia VND</span></p>
    </div>
    <div id="Datmua">
        <a href="@Url.Action("ThemGiohang","GioHang",new { @iMasach=Model.Masach,@strURL=Request.Url.ToString() })">
                ĐẶT MUA
        </a>
    </div>
</div>

