@model IEnumerable<bookstore.Models.NHAXUATBAN>
<div>
    <h1>Nhà xuất bản</h1>
    <ul>
        @foreach (var item in Model)
            {
            <li>
                <a href="@Url.Action("SPTheoNXB","BookStore",new {id= item.MaNXB})" class="list-group-item">
                    <b>
                        @item.TenNXB
                    </b>                    
                </a>
            </li>
        }
    </ul>
</div>


